.nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
    gap: 2rem;
    background: linear-gradient(90deg, #DCBAD4 1.18%, #7A2671 100%);;
    color: #FFF;
    height: 10%; 
}
.nav--logo {
    margin-left: 2rem;
    align-self: center;
    --fa-animation-duration: 3s;
    
}

.fa-cloud {
    color: #7A2671;
}

.fa-cloud:hover {
    color: #A06694;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style: none;
    
}

.nav a {
    display: flex;
    align-items: center;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    height: 100%; 
}  

.nav li {
    transition: .5s;
}

.nav li.active {
    background-color: #72236a;
}

.nav li:hover {
    background-color: #A06694;
}


